__pycache__/
*.py[cod]
*.png
*.svg
*.jpg
*.jpeg
*.npz
.ipynb_checkpoints/
venv
.venv/
.env/
.idea/
.vscode/
.DS_Store
.virtual_documents/
*.egg-info
previous_code/
todo.txt
alternative_functionality.py
pseudocode_crt.txt
pseudocode_mmt_sampling.txt
Todos.txt